@Model.Date.ToString("dd-MM-yyyy")

<h1>@Html.ActionLink(T("Checkout the biddings").Text, "Index", "FeaturedProducts", new { area = "Devq.Sellit" }, null)</h1>

@using (Html.BeginFormAntiForgeryPost()) {

    foreach (var shape in Model.Shapes) {
        <div>
            @Display(shape)
        </div>
    }

}